*{
    margin: 0;
    padding:0;
    background-color:rgb(255, 244, 209);
}
a{text-decoration: none;}
.container{width: 100%;
height:100vh;
display: grid;
background-color: rgb(255, 244, 209);
grid-template-columns:1fr ;
    grid-template-rows:0.3fr 2fr 0.3fr;
    grid-template-areas: "nav" "main" "footer" ;}


nav{
    width: 100%;
    
    
    display:grid;
    place-items: center;
   
}
.nav-wrapper{
    width: 90%;
    
    background-color: rgb(255, 244, 209);
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items:center;
    /* mn */
    /* height: 50px; */
}


.navbar{
    width: 300px;
    height:100%;
    background-color:  #0C6C7B;
    position: fixed;
    top:0;
    right: -300px;
    display: flex;
    justify-content: center;
    border-radius: 30% 0% 0% 70%;
    transition: right .70s cubic-bezier(0, 1, 1, 1);
 
    

}
/* .logo{
    margin-top: 80px;
} */
.logo:focus{
    outline:black solid 2px;
    /* background-color: white; */
    
}
.change{
    right: 0;
}

.nav-list
{display:none;
    background-color:  #0C6C7B;
}
.change .nav-list
{display:block;
    background-color:  #0C6C7B;
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:20%;
}
.nav-item{
    list-style: none;
    margin: 25px;
    background-color:  #0C6C7B;
 
}

.nav-link{
    background-color:  #0C6C7B;
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    padding: 3px;

}
.nav-link:focus{
    outline:black solid 2px;
    background-color:white;
    color: black;


}
.nav-link:hover{
    outline:#0C6C7B solid 2px;
    color: black;
   
    background-color: white;

}
.hamburger-menu{
    width:44px;
    height:44px;
    background-color:rgb(255, 244, 209);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* position: fixed;
     top: 3px;
    left: 50px; */
   border: none;
   z-index: 5;
   
}
.hamburger-menu:hover{
    outline:#0C6C7B solid 2px;
    background-color: white;
}
.hamburger-menu:focus{
    outline:black solid 2px;
    background-color: white;
    
   
}



    /* width: 100%;
    height: 3px;
    background-color: chocolate; */

.line-1{
    width: 100%;
    height:4px;
    background-color:  #0C6C7B;
    transition: 0.7s;
    
}
.line-2{
    margin-left: auto;
    margin-right: 0;
    width: 70%;
    height:4px;
    background-color:  #0C6C7B;
    transition: 0.7s;
}
.line-3{
    margin-left: auto;
    margin-right: 0;
    width: 40%;
    height: 4px;
    background-color:  #0C6C7B;
    transition: 0.7s;
} 

.change .line-1{
    
    transform: rotateZ(-45deg) translate(-11px,10px);
    color: rgb(255, 244, 209);
}
.change .line-2{
   opacity: 0;
}
.change .line-3{
    width: 100%;
    transform: rotateZ(45deg) translate(-11px,-10px);
    color: rgb(255, 244, 209);
}
main{width: 90%;
    /* height: 730px; */
    
    margin: 0 auto;
   
    display: grid;
    background-color: rgb(255, 244, 209);
    grid-template-columns:1fr 0.33fr 0.33fr 0.33fr ;
        grid-template-rows:0.5fr 0.5fr;
        grid-template-areas: 'mainpic mainconetent mainconetent mainconetent' 'mainpic subpic1 subpic2 subpic3';
        align-self: center;
        justify-content: center;
        /* margin-top: 40px; */
        
     

}
.mainpic{grid-area: mainpic;
justify-self: center;
align-self:flex-end;
}
.mainconetent{grid-area: mainconetent;
    
    background-color:rgb(255, 244, 209);
   
    display: flex;
    flex-direction: column;
    justify-content:flex-end; 
    
   /* margin: auto; */
    /* align-items: flex-start; */
   
   border: none;
margin-bottom: 20px;}


    

.subpic1{grid-area: subpic1;
align-self:flex-start;
margin: 0 auto;
margin-left: 0;}
.subpic2{grid-area: subpic2;
    align-self:flex-start;
    margin: 0 auto;}
.subpic3{grid-area: subpic3;
    align-self:flex-start;
    margin: 0 auto;
    margin-right: 0}

h1{font-size: 60px;
font-family: Cambria;
 /* margin-top: 10px;  */
 line-height: 1.5em; 
font-weight: normal;
margin-bottom: -5px;}
.intro{font-size: 20px;
    /* margin-top: -30px; */
    line-height: 1.5em;
    margin-bottom: 20px;
font-family: Arial, Helvetica, sans-serif;}
.commonbutton{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px 20px;
    background-color: black;
    color: white;
    outline: black solid 2px;
    margin-left: 2px;
    width: min-content;
   

}
footer{
    height:fit-content;
    display: grid;
    place-items:end center ;
    background-color:rgb(255, 244, 209);
}
.footerwrapper{
    width: 90%;
    display: grid;
    background-color: rgb(255, 244, 209);
    grid-template-columns:0.8fr 1fr 0.8fr ;
        grid-template-rows:0.5fr 0.1fr;
        grid-template-areas: 'contactinfo copyright footerlogo' 'SNS copyright footerlogo';
}
.footerlogo{grid-area: footerlogo;
justify-self: flex-end;
align-self:flex-end;}
ul{
    /* padding-bottom: 10px; */
    margin-bottom: 10px;
}
li{
    line-height: 1.5em;
    list-style-type: none;
}
.contactinfo{grid-area: contactinfo;}
.contact{
    font-size: 20px;
}
.SNS{width: 100px;
display: flex;
justify-content: space-between;
grid-area: SNS;}
.IG:focus{background-color: white;
    outline:black solid 5px;}
    .FB:focus{background-color: white;
        outline:black solid 5px;}
.copyright{
    grid-area:copyright ;
    align-self:flex-end;
    /* justify-self: flex-end; */
    
}

.mainpic{
    max-width: 95%;
    max-height: 95%;}
    .subpic1{
    max-width: 95%;
    max-height: 95%;}
    .subpic2{
        max-width: 95%;
    max-height: 95%;}
    .subpic3{
        max-width: 95%;
    max-height: 95%;}

@media (max-width:1500px){
    .mainpic{width: 550px;
    height:412.5px;}
    h1{
        font-size: 40px;
    }
    .intro{
        font-size: 16px;
    }
    .commonbutton{
        font-size: 16px;
    }
    .subpic1{
        width: 206.5px;
        height: 206.5px;
    }
    .subpic2{
        width: 206.5px;
        height: 206.5px;
    }
    .subpic3{
        width:206.5px;
        height: 206.5px;
    }
}

@media (max-width:1400px){
    .mainpic{width: 500px;
    height:375px;}
    h1{
        font-size: 30px;
    }
    .intro{
        font-size: 16px;
    }
    .commonbutton{
        font-size: 16px;
    }
    .subpic1{
        width: 187.5px;
        height: 187.5px;
    }
    .subpic2{
        width: 187.5px;
        height: 187.5px;
    }
    
    .subpic3{
        width: 187.5px;
        height: 187.5px;
    
    }}

    @media (max-width:1200px){
        
        .container{width: 100%;
        height:100vh;
        display: grid;
        background-color: rgb(255, 244, 209);
        grid-template-columns:1fr ;
            grid-template-rows:0.1fr 0.8fr 0.2fr;
            grid-template-areas: "nav" "main" "footer" ;}


        main{width: 90%;
            /* height: 730px; */
            
            margin: 0 auto;
           
            display: grid;
            background-color: rgb(255, 244, 209);
            grid-template-columns:0.33fr 0.33fr 0.33fr ;
                grid-template-rows:0.3fr 0.5fr 0.3fr;
                grid-template-areas: ' mainconetent mainconetent mainconetent''mainpic mainpic mainpic'  'subpic1 subpic2 subpic3';     
        
        }
        .mainpic{
            margin-bottom: 20px;
        }
        .subpic1{
            margin: 0 auto;
            }
            
            .subpic3{
                margin: 0 auto;
              }
              .copyright{
               font-size: 14px;
            }

        
}
@media (max-width:800px){

    .container{width: 100%;
        height:100vh;
        display: grid;
        background-color: rgb(255, 244, 209);
        grid-template-columns:1fr ;
            grid-template-rows:0.1fr 0.8fr 0.2fr;
            grid-template-areas: "nav" "main" "footer" ;}
        
    li{font-size: 14px;
        line-height: 1.5em;
    }
    .contact{
        font-size: 16px;
    
        }

        .footerwrapper{
            
            display: grid;
            
            grid-template-columns:1fr 1fr 1fr ;
                grid-template-rows:0.5fr 0.1fr;
                grid-template-areas: 'contactinfo SNS footerlogo' 'copyright copyright copyright';
                
        }

    
    .SNS{justify-self:center;
        align-self:flex-end;
}
.copyright{
    justify-self: center;
 }
 .contactinfo{align-self:flex-end;}
 ul{margin-bottom: 0px;}
}

@media (max-width:700px){

    .container{width: 100%;
        height:110vh;
        display: grid;
        background-color: rgb(255, 244, 209);
        grid-template-columns:1fr ;
            grid-template-rows:0.1fr 0.8fr 0.2fr;
            grid-template-areas: "nav" "main" "footer" ;}
        
   
        .footerwrapper{
            
            display: grid;
            
            grid-template-columns:1fr 1fr 1fr 1fr ;
                grid-template-rows:0.5fr 0.1fr;
                grid-template-areas: 'contactinfo contactinfo contactinfo contactinfo' 'SNS SNS footerlogo footerlogo' 'copyright copyright copyright copyright';
                
        }

    
    .SNS{justify-self:flex-start;
        /* align-self:flex-end; */
}
.copyright{
    justify-self: center;
 }
 .contactinfo{justify-self:center;
text-align: center;}
 ul{margin-bottom: 0px;}
}

@media (max-width:600px){

    .container{width: 100%;
        height:100vh;
        display: grid;
        background-color: rgb(255, 244, 209);
        grid-template-columns:1fr ;
            grid-template-rows:0.1fr 0.8fr 0.2fr;
            grid-template-areas: "nav" "main" "footer" ;}

 .mainpic{width:400px;
height:300px;
max-width: 95%;
max-height: 95%;}
.subpic1{width:150px;
height:150px;
max-width: 95%;
max-height: 95%;}
.subpic2{width:150px;
    height:150px;
    max-width: 95%;
max-height: 95%;}
.subpic3{width:150px;
    height:150px;
    max-width: 95%;
max-height: 95%;}
    .footerwrapper{margin-top: 20px;}

    .navlogo{
        width: 150px;
    }
    .footerlogo{
        width: 150px;
    }
    .navbar{
        width: 200px;
    
    }
}

/* @media (max-width:500px){

   

 .mainpic{width:400px;
height:300px;}
.subpic1{width:150px;
height:150px;}
.subpic2{width:150px;
    height:150px;}
.subpic3{width:150px;
    height:150px;}
    .footerwrapper{margin-top: 20px;}

    .navlogo{
        width: 150px;
    }
    .footerlogo{
        width: 150px;
    }
} */

@media (max-width:500px){
    .mainpic{width:400px;
        height:300px;}
        .subpic1{width:150px;
        height:150px;}
        .subpic2{width:150px;
            height:150px;}
        .subpic3{width:150px;
            height:150px;}
            .footerwrapper{margin-top: 20px;}
        
            .navlogo{
                width: 150px;
            }
            .footerlogo{
                width: 150px;
            }
        


    .footerwrapper{margin-top: 20px;}

    .navlogo{
        width: 100px;
    }
    .footerlogo{
        width: 100px;
    }
    /* h1{font-size: 30px;}
    .intro{font-size: 16px;} */
}

@media (max-width:450px){
    .mainpic{width:300px;
        height:225px;}
        .subpic1{width:100px;
        height:100px;}
        .subpic2{width:100px;
            height:100px;}
        .subpic3{width:100px;
            height:100px;}
            .footerwrapper{margin-top: 20px;}
        
            .navlogo{
                width: 150px;
            }
            .footerlogo{
                width: 150px;
            }
        
    h1{font-size: 24px;}
    .intro{font-size: 14px;} 
  
} 