*{
    margin: 0;
    padding:0;
    background-color:rgb(229,222,210);
}
a{text-decoration: none;}
.container{width: 100%;
height:100vh;
display: grid;
background-color: rgb(229,222,210);
grid-template-columns:1fr ;
    grid-template-rows:0.3fr 2fr 0.3fr;
    grid-template-areas: "nav" "main" "footer" ;}


nav{
    width: 100%;
    
    
    display:grid;
    place-items: center;
   
}
.nav-wrapper{
    width: 90%;
    
    background-color: rgb(229,222,210);
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items:center;
    /* mn */
    /* height: 50px; */
}


.navbar{
    width: 300px;
    height:100%;
    background-color:  #0C6C7B;
    position: fixed;
    top:0;
    right: -300px;
    display: flex;
    justify-content: center;
    border-radius: 30% 0% 0% 70%;
    transition: right .70s cubic-bezier(0, 1, 1, 1);
 
    

}
/* .logo{
    margin-top: 80px;
} */
.logo:focus{
    outline:black solid 2px;
outline-offset: -3px;
  
    
}
.change{
    right: 0;
}

.nav-list
{display:none;
    background-color:  #0C6C7B;
}
.change .nav-list
{display:block;
    background-color:  #0C6C7B;
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:20%;
}
.nav-item{
    list-style: none;
    margin: 18px;
    background-color:  #0C6C7B;
 
}

.nav-link{
    background-color:  #0C6C7B;
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    padding: 3px;

}
.nav-link:focus{
    outline:black solid 2px;
    background-color:white;
    color: black;


}
.nav-link:hover{
    outline:#0C6C7B solid 2px;
    color: black;
   
    background-color: white;

}
.hamburger-menu{
    width:44px;
    height:44px;
    background-color:rgb(229,222,210);
    /* cursor: pointer; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* position: fixed;
     top: 3px;
    left: 50px; */
   border: none;
   z-index: 5;
   
}
.hamburger-menu:hover{
    outline:#0C6C7B solid 2px;
    background-color: white;
}
.hamburger-menu:focus{
    outline:black solid 2px;
    background-color: white;
    
   
}



    /* width: 100%;
    height: 3px;
    background-color: chocolate; */

.line-1{
    width: 100%;
    height:4px;
    background-color:  #0C6C7B;
    transition: 0.7s;
    
}
.line-2{
    margin-left: auto;
    margin-right: 0;
    width: 70%;
    height:4px;
    background-color:  #0C6C7B;
    transition: 0.7s;
}
.line-3{
    margin-left: auto;
    margin-right: 0;
    width: 40%;
    height: 4px;
    background-color:  #0C6C7B;
    transition: 0.7s;
} 

.change .line-1{
    
    transform: rotateZ(-45deg) translate(-11px,10px);
    color: rgb(229,222,210);
}
.change .line-2{
   opacity: 0;
}
.change .line-3{
    width: 100%;
    transform: rotateZ(45deg) translate(-11px,-10px);
    color: rgb(229,222,210);
}


h1{font-size: 50px;
font-family: Cambria;
 /* margin-top: 10px;  */
 line-height: 1.5em; 
font-weight: normal;
margin-bottom: -5px;}

main{
    margin: 0 auto;
    align-self: center;
    display:block;
width: 85%;}

h1{justify-self: center;
    text-align: center;
margin: 0;}


    .contactusform{
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        display: flex;
        flex-direction: column;
    
    }

    label{
        font-size: 20px;
        margin-top: 6px;
    }

  .yourname{
      display: flex;
      flex-direction: column;
      
    
  }
  input{
      padding: 2px;
      
  border-radius: 4px;
  resize: vertical;
 
  }
  #name{height: 1.4em;
line-height: 1em;
font-size: 16px;
margin-bottom:5px;
border:rgb(113,113,113) 1px solid;

}
#error111{margin-top: -5px;}
#error112{margin-top: -5px;}

#name:focus{background-color: rgb(255, 255, 255);}
  #email{height: 1.4em;
    line-height: 1em;
    font-size: 16px;
    margin-bottom:5px;
    border:rgb(113,113,113) 1px solid;
   }
   #email:focus{background-color: rgb(255, 255, 255);}
    .bitch{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
       
        

    }
  #comments{line-height: 1em;
    font-size: 16px;
   
   
    /* box-sizing: border-box;
    border: 1px solid rgb(117, 117, 117); */
    border-radius: 4px;
}
#comments:focus{background-color: rgb(255, 255, 255);}

  .email{
    display: flex;
    flex-direction: column;
}

/* .submit{
    outline: solid black 2px;
    border:none;
    padding: 10px 20px;
    background-color: black;
     */

.submitty{
    margin: 0 auto;
    outline: solid rgb(229,222,210) 2px;
    
    /* width: 100px; */
    padding: 10px 20px;
    
  font-size: 20px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  border-color: black black;
  border-width: 2px;
  border-radius: 0%;
 
}
.submitty:hover{
    background-color: rgb(255, 255, 255);
    color: black;}
    .submitty:focus{
        background-color: rgb(255, 255, 255);
        color: black;
}


footer{
    height:fit-content;
    display: grid;
    place-items:end center ;
    background-color:rgb(229,222,210);
}
.footerwrapper{
    width: 90%;
    display: grid;
    background-color: rgb(229,222,210);
    grid-template-columns:0.1fr 0.9fr 1fr ;
        grid-template-rows:0.5fr 0.1fr;
        grid-template-areas: 'SNS contactinfo footerlogo' 'copyright copyright copyright';
}
.footerlogo{grid-area: footerlogo;
justify-self: flex-end;
align-self:flex-end;}
ul{
    /* padding-bottom: 10px; */
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    line-height: 1.5em;
    list-style-type: none;
}
.contactinfo{grid-area: contactinfo;
    display: inline-block;

/* justify-self: flex-start; */
margin: auto 0;}
.contact{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.SNS{
display: flex;
flex-direction: column;
justify-content: space-around;
grid-area: SNS;}
.IG:focus{
    outline:black solid 2px;}
    .FB:focus{
        outline:black solid 2px;}
.copyright{
    grid-area:copyright ;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    /* justify-self: flex-end; */
    
}
ul{margin-bottom: 0px;}

@media (max-width:1400px){
   
    h1{
        font-size: 30px;
    }
 }

    @media (max-width:1200px){
        
        .container{width: 100%;
        height:100vh;
        display: grid;
        background-color: rgb(229,222,210);
        grid-template-columns:1fr ;
            grid-template-rows:0.1fr 0.8fr 0.2fr;
            grid-template-areas: "nav" "main" "footer" ;}


        
}
@media (max-width:800px){

    .container{width: 100%;
        height:100vh;
        display: grid;
        background-color: rgb(229,222,210);
        grid-template-columns:1fr ;
            grid-template-rows:0.1fr 0.8fr 0.2fr;
            grid-template-areas: "nav" "main" "footer" ;}
        
    li{font-size: 14px;
        line-height: 1.5em;
    }
    .nav-list{font-size: 16px;
       
    }
    .submitty{font-size: 16px;}
    .contact{
        font-size: 16px;
    
        }

    }

/* @media (max-width:700px){

    .container{width: 100%;
        height:110vh;
        display: grid;
        background-color: rgb(255, 244, 209);
        grid-template-columns:1fr ;
            grid-template-rows:0.1fr 0.8fr 0.2fr;
            grid-template-areas: "nav" "main" "footer" ;}
        
   
        .footerwrapper{
            
            display: grid;
            
            grid-template-columns:1fr 1fr 1fr 1fr ;
                grid-template-rows:0.5fr 0.1fr;
                grid-template-areas: 'contactinfo contactinfo contactinfo contactinfo' 'SNS SNS footerlogo footerlogo' 'copyright copyright copyright copyright';
                
        }

    
    .SNS{justify-self:flex-start;
        /* align-self:flex-end; */
/* }
.copyright{
    justify-self: center;
 }
 .contactinfo{justify-self:center;
text-align: center;}
 ul{margin-bottom: 0px;}
} */ 

@media (max-width:600px){

    .container{width: 100%;
        height:100vh;
        display: grid;
        background-color: rgb(229,222,210);
        grid-template-columns:1fr ;
            grid-template-rows:0.1fr 1fr 0.2fr;
            grid-template-areas: "nav" "main" "footer" ;}


    .footerwrapper{margin-top: 20px;}

    /* .navlogo{
        width: 180px;
    }
    .footerlogo{
        width: 220px;
    } */
    .navbar{
        width: 200px;
    
    }
    label{
        font-size: 16px;
    }
}

/* @media (max-width:500px){

   

 .mainpic{width:400px;
height:300px;}
.subpic1{width:150px;
height:150px;}
.subpic2{width:150px;
    height:150px;}
.subpic3{width:150px;
    height:150px;}
    .footerwrapper{margin-top: 20px;}

    .navlogo{
        width: 150px;
    }
    .footerlogo{
        width: 150px;
    }
} */

@media (max-width:500px){
  
            .footerwrapper{margin-top: 20px;}
        
            .navlogo{
                width: 180px;
            }
            .footerlogo{
                width: 180px;
            }
        


  

 
         .footerwrapper{
            
            display: grid;
            
            grid-template-columns:1fr 1fr 1fr 1fr ;
                grid-template-rows:0.5fr 0.1fr;
                grid-template-areas: 'contactinfo contactinfo contactinfo contactinfo' 'SNS SNS footerlogo footerlogo' 'copyright copyright copyright copyright';
                
        }

    
    .SNS{justify-self:flex-start;
     
}
.copyright{
    justify-self: center;
 }
 .contactinfo{justify-self:center;
text-align: center;}
     h1{font-size: 30px;}
    .intro{font-size: 16px;} 
}

@media (max-width:450px){
   
            .footerwrapper{margin-top: 20px;}
        
            .navlogo{
                width: 100px;
            }
            .footerlogo{
                width: 100px;
            }
        
    h1{font-size: 24px;}
    
  
    } 